.top {
    background-color: #1F2937;
    padding: 0 200px;
}



ul,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.hello-left button {
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 8px;
    color: white;
    font-size: 25px;
}


.header img {
    max-width: 200px;
    height: auto;
}

.hello img {
   max-width: 600px;
   height: auto;
   min-width: 300px;   
}

.hello button {
    align-self: baseline;
}


.hello-primary {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hello-secondary {
    font-size: 18px;
    color: #E5E7EB;
}


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hello {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    gap: 20px;
}

.hello-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 300px;
    gap: 20px;
    

}

ul {
    display: flex;
    gap: 18px;

}

/* THE ABOVE IS THE FIRST SEGMENT */

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
}

.opcao {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.opcao img {
    width: 230px;   
    height: 297px;
    border: 5px solid #3882F6;
    
}


.opcao p {
    margin-top: 10px;
    color: #1F2937;
    margin-bottom: 0;
    
    
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px 0;
}

